.flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

/**========== SECTION INTRO ==========*/
.section-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-intro__title {
  font-size: clamp(var(--text-base), 2.7vw, var(--text-2xl));
  font-weight: 700;
  color: var(--black-500);
}

.section-intro__view-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-md);
  color: var(--blue-600);
  fill: var(--blue-600);
}

.section-intro__view-more__chevron {
  width: 1.125rem;
  height: 1.125rem;
}

/**========== LOGO ==========*/
.logo {
  max-width: 162px;
  max-height: 33px;
  display: block;
}